#items > .card {
    margin-top: 10px;
}

#items .card-body {
    padding: 0.5rem;
}

.form-control-plaintext {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.btn-info {
    color: #fff;
}

.form-control-lg {
    font-weight: bold;
}

.checkbox-ver-mar {
    padding-top: 15px;
}

.item-card {
    padding: 0.5rem;
}